@import "../../../da-colors"

form
  gap: 8px

.full-width
  width: 100%

.da-h3
  margin-bottom: 24px

.container
  display: grid
  width: 100%
  height: 1fr
  grid-template-areas: "upload-img form"
  grid-template-columns: 35% 1fr

.form-container
  grid-area: form

.title
  margin-top: 20px
  margin-bottom: 5px

.img-container
  height: 300px
  width: 450px

.img-container
  img
    height: 95%
    width: 100%
    object-fit: contain

.img-container
  input
    display: none

.upload-img-btn > button
  width: 150px

//  Speakers
.speaker-container
  max-width: 968px
  padding-left: 50px
  padding-right: 50px

.speaker-list
  display: grid
  grid-template-columns: repeat(3, 1fr)
  gap: 10px
  margin-top: 20px

.add-speaker-button
  display: flex
  align-content: baseline

  p
    margin: 0

.add-speaker-icon
  margin-left: 10px
  cursor: pointer

.add-speaker-text
  border-bottom: 1px dashed
  margin-left: 10px
  cursor: pointer

.title-block
  width: 968px
  padding: 30px 48px
  box-sizing: border-box
  display: flex
  flex-direction: column

.da-sidebar
  width: 256px
  padding: 8px 0

  &-link
    color: inherit
    text-decoration: none
    font: 700 16px "Open Sans", sans-serif

  &-button
    cursor: pointer
    gap: 11px
    height: 46px
    color: $da-black
    padding-left: 16px

    &-icon
      color: $da-violet

    &:hover &-icon
      color: $da-white

    &:hover
      background-color: $da-violet
      color: $da-white

.da-event-editor-wrapper
  align-items: stretch

.da-image-container
  width: 872px
  height: 478px
  margin-bottom: 24px

.da-sidebar-sticky-wrapper
  position: sticky
  top: 8px

.da-duration-field
  width: 87px

.da-venue-block
  margin-top: 8px
  justify-content: space-evenly
  height: 46px
  width: 192px

.link-icon-color
  color: $da-grey

.s-start-date
  width: 230px

::ng-deep .da-location-dropdown-field
  width: 310px

::ng-deep .mat-form-field-appearance-outline .mat-form-field-prefix,
::ng-deep .mat-form-field-appearance-outline .mat-form-field-suffix
  top: .4em !important

.s-fake-mat-error
  font-size: 75%
  margin-left: 13px

.s-subscript-fix
  line-height: 1.175

.s-venue-error-border
  height: 49px
  width: 194px
  border: 2px #f44336 solid
  box-sizing: border-box

.da-mat-button
  border-radius: 8px
  font-size: 16px
  font-weight: 600
  height: 48px

.mat-stroked-button
  @extend .da-mat-button
  border: 2px solid $da-grey
  color: $da-grey

.mat-flat-button
  @extend .da-mat-button
  color: $da-white

.s-button-container
  gap: 16px

.s-have-speakers-text
  font-weight: 600
