<div id="title">
  <div class="da-h1 da-layout-wrapper-header">
    {{ isEditMode ? 'Edit Event' : 'Create Event' }}
  </div>
</div>

<div class="da-layout-wrapper da-flex-row da-event-editor-wrapper">
  <div class="da-border-lighter da-block-bg da-sidebar">
    <div class="da-sidebar-sticky-wrapper">
      <a class="da-sidebar-link" fragment="title" routerLink="./">
        <div class="da-flex-row-center da-sidebar-button">
          <mat-icon class="da-sidebar-button-icon">collections</mat-icon>
          <div class="da-sidebar-button-text">Cover and title</div>
        </div>
      </a>

      <a class="da-sidebar-link" fragment="location" routerLink="./">
        <div class="da-flex-row-center da-sidebar-button">
          <mat-icon class="da-sidebar-button-icon">place</mat-icon>
          <div class="da-sidebar-button-text">Location and time</div>
        </div>
      </a>

      <a class="da-sidebar-link" fragment="info" routerLink="./">
        <div class="da-flex-row-center da-sidebar-button">
          <mat-icon class="da-sidebar-button-icon">article</mat-icon>
          <div class="da-sidebar-button-text">
            Additional information
          </div>
        </div>
      </a>

      <a class="da-sidebar-link" fragment="speakers" routerLink="./">
        <div class="da-flex-row-center da-sidebar-button">
          <mat-icon class="da-sidebar-button-icon">groups</mat-icon>
          <div class="da-sidebar-button-text">Speakers</div>
        </div>
      </a>
    </div>
  </div>

  <form [formGroup]="eventCreateForm" class="da-flex-column-start">
    <div class="da-border-lighter da-block-bg title-block">
      <div class="da-h3">Cover and title</div>
      <div class="da-border-darker da-image-container da-flex-column-center-center">
        <div (click)="fileInput.click()" (onFileDropped)="uploadImage($event)" class="da-flex-column-center da-mt1 img-container"
             dragDrop>
          <img *ngIf="selectedImg != null" appDefaultImage src="{{ selectedImg }}">
          <img *ngIf="!selectedImg" src="/assets/cloud.svg">
          <input #fileInput (change)="onImgChanged($event)" type="file">
          <div *ngIf="!selectedImg" class="da-flex-column-center">
            <div class="da-h3 da-grey da-mt2-5">
              Drag and drop an image
            </div>
            <div class="da-p da-grey">
              or
            </div>
          </div>
        </div>
        <div class="da-flex-row-center da-mt1">
          <button (click)="fileInput.click()" color="primary" mat-raised-button>Upload</button>
        </div>
        <div class="da-p3 da-grey da-mt1">
          1600x1200 or larger is recommended, up to 10МВ each.
        </div>
      </div>

      <div>
        <mat-label>Event title</mat-label>
        <mat-form-field class="full-width">
          <input #title [errorStateMatcher]="customMatcher" formControlName="title" matInput placeholder="Enter event title"
                 trim="blur">
          <mat-error *ngIf="hasError('title', 'required')">
            Title is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="hasError('title', 'minlength')">
            Title is <strong>too short</strong>
          </mat-error>
          <mat-error *ngIf="hasError('title', 'maxlength')">
            Title is <strong>too long</strong>
          </mat-error>
          <mat-hint align="start" class="s-subscript-fix">Minimum length: <strong>10</strong></mat-hint>
          <mat-hint align="end" class="s-subscript-fix">{{title.value.length}} / 150</mat-hint>
        </mat-form-field>
      </div>
    </div>

    <div class="da-border-lighter da-block-bg title-block" id="location">
      <div class="da-h3">Location and time</div>
      <div class="da-flex-row-space-between">
        <div class="da-flex-column-start" formGroupName="checkboxGroup">
          <mat-label>Venue type</mat-label>
          <div [class.s-venue-error-border]="eventCreateForm.controls.checkboxGroup.errors &&
               (eventCreateForm.touched || eventCreateForm.dirty) &&
               (eventCreateForm.controls.checkboxGroup.touched || eventCreateForm.controls.checkboxGroup.dirty)"
               class="da-flex-row-center da-venue-block da-border-darker">
            <mat-checkbox [(ngModel)]="venueOnline" color="primary" formControlName="online">
              Online
            </mat-checkbox>
            <mat-checkbox [(ngModel)]="venueOffline" color="primary" formControlName="offline">
              Offline
            </mat-checkbox>
          </div>
          <mat-error *ngIf="eventCreateForm.controls.checkboxGroup.errors &&
                     eventCreateForm.controls.checkboxGroup.errors.noTypeSelected &&
                     (eventCreateForm.touched || eventCreateForm.dirty) &&
                     (eventCreateForm.controls.checkboxGroup.touched || eventCreateForm.controls.checkboxGroup.dirty)"
                     class="s-fake-mat-error">
            At least one should be selected
          </mat-error>
        </div>

        <div class="da-flex-column-start-center">
          <mat-label>Duration</mat-label>
          <mat-form-field class="da-duration-field">
            <input [(ngModel)]="durationModel" [errorStateMatcher]="customMatcher" [textMask]="{mask: durationMask}"
                   formControlName="duration" matInput placeholder="hh:mm" type="text">
            <mat-error *ngIf="hasError('duration', 'required')">
              Duration is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="da-flex-column-start-center">
          <mat-label>Start date</mat-label>
          <mat-form-field appDateTimePickerFormat class="s-start-date">
            <input [errorStateMatcher]="customMatcher" [max]="null" [min]="minDate" [ngxMatDatetimePicker]="picker"
                   autocomplete="off" formControlName="startDate" matInput placeholder="Select date and time"
                   readonly>
            <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker [enableMeridian]="false" [showSeconds]="false" [showSpinners]="true"
                                     [stepHour]="1" [stepMinute]="1" [touchUi]="false">
            </ngx-mat-datetime-picker>
            <mat-error *ngIf="hasError('startDate', 'required')">
              Start date is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <app-locations [parentForm]="eventCreateForm"
                       [requiredError]="hasError('location', 'required')">
        </app-locations>
      </div>
    </div>

    <div class="da-border-lighter da-block-bg title-block" id="info">
      <div class="da-h3">Additional information</div>

      <mat-label>Event description</mat-label>
      <mat-form-field appearance="standard" class="full-width description-form">
        <markdown-editor formControlName="description" placeholder="Write an Event Description...">
        </markdown-editor>
        <mat-error *ngIf="hasError('description', 'required')">
          Description is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-label>Link to broadcast</mat-label>
      <mat-form-field class="full-width">
        <mat-icon class="link-icon-color" matPrefix>link</mat-icon>
        <input formControlName="linkBroadcast" matInput placeholder="Enter link" type="url">
        <mat-error *ngIf="hasError('linkBroadcast', 'pattern')">
          Invalid url
        </mat-error>
      </mat-form-field>
    </div>

    <div class="da-border-lighter da-block-bg title-block" id="speakers">
      <div class="da-h3">Speakers</div>
      <div class="add-speaker-button">
        <mat-checkbox [(ngModel)]="hasSpeakers"
                      [ngModelOptions]="{standalone: true}"
                      class="s-have-speakers-text"
                      color="primary">
          Have speakers at the event?
        </mat-checkbox>
        <div (click)="openDialog()" *ngIf="hasSpeakers" class="add-speaker-button da-green">
          <span class="material-icons add-speaker-icon">add_circle</span>
          <a class="add-speaker-text"> Add new speaker</a>
        </div>
      </div>
      <div class="speaker-list">
        <app-speaker (deleteSpeaker)="deleteSpeaker($event)" (editSpeaker)=editSpeaker($event)
                     *ngFor="let speaker of speakers;  let i = index;" [speaker]=speaker></app-speaker>
      </div>

    </div>
    <div class="da-border-lighter da-block-bg title-block">
      <div class="da-flex-row-end s-button-container" mat-dialog-actions>
        <button  *ngIf="!awaitingCreation" (click)="clear()" [routerLink]="isEditMode ? ['/event/'+ eventId] : ['/../']" mat-stroked-button>
          Cancel
        </button>
        <mat-spinner *ngIf="awaitingCreation" [diameter]="30" mode="indeterminate"></mat-spinner>
        <button *ngIf="!awaitingCreation" (click)="onSubmit()" color="primary" mat-flat-button>{{ isEditMode ? 'Save' : 'Create' }}</button>
      </div>
    </div>
  </form>
</div>
