@import "da-colors"

/*#region Fonts*/
.da
  font-family: 'Open Sans', sans-serif
  font-style: normal
  color: $da-black

  &-h1
    @extend .da
    font-size: 40px
    font-weight: 700
    line-height: 52px

  &-h3
    @extend .da
    font-size: 24px
    font-weight: 700
    line-height: 31px

  &-h4
    @extend .da
    font-size: 18px
    font-weight: 700
    line-height: 25px

  &-h5
    @extend .da
    font-size: 16px
    font-weight: 600
    line-height: 21.8px

  &-h5-5
    @extend .da
    font-size: 14px
    font-weight: 600
    line-height: 19.07px

  &-h6
    @extend .da
    font-size: 12px
    font-weight: 700
    line-height: 20.4px

  &-p
    @extend .da
    font-size: 24px
    font-weight: 400
    line-height: 33.6px

  &-p2
    @extend .da
    font-size: 18px
    font-weight: 400
    line-height: 25.2px

  &-p3
    @extend .da
    font-size: 16px
    font-weight: 400
    line-height: 22px

  &-p4
    @extend .da
    font-size: 14px
    font-weight: 400
    line-height: 19.6px

  &-p5
    @extend .da
    font-size: 12px
    font-weight: 400
    line-height: 16.3px

  &-paginator
    @extend .da
    font-size: 20px
    font-weight: 600
    line-height: 27px

.da-uppercase
  text-transform: uppercase

.da-text-14
  font-weight: bold
  font-size: 14px
  line-height: 140%
/*#endregion */

/*#region Borders*/
.da-border-lighter
  border: 1px solid $da-light-grey
  border-radius: 8px

.da-border-darker
  border: 1px solid $da-grey-t
  border-radius: 8px

.da-border-green
  border: 1px solid $da-green
  border-radius: 8px

.da-border-violet
  border: 1px solid $da-violet
  border-radius: 8px

.da-border-round
  border-radius: 100px
/*#endregion */

/*#region Structures*/
.da-mt1
  margin-top: 1rem

.da-mt2-5
  margin-top: 2.5rem

.form-field-wrapper
  display: flex
  flex-direction: column

.da-layout-wrapper
  max-width: 1232px
  margin: 0 auto
  padding: 0 0 56px
  gap: 8px

  &-header
    @extend .da-layout-wrapper
    padding: 32px 0

.da-flex
  display: flex

  &-row
    @extend .da-flex
    flex-direction: row

    &-center
      @extend .da-flex-row
      align-items: center

    &-center-center
      @extend .da-flex-row-center
      justify-content: center

    &-start
      @extend .da-flex-row
      justify-content: flex-start

    &-end
      @extend .da-flex-row
      justify-content: flex-end

    &-space-between
      @extend .da-flex-row
      justify-content: space-between

  &-column
    @extend .da-flex
    flex-direction: column

    &-center
      @extend .da-flex-column
      align-items: center

      &-center
        @extend .da-flex-column-center
        justify-content: center

    &-start
      @extend .da-flex-column
      align-items: flex-start

      &-center
        @extend .da-flex-column-start
        justify-content: center

    &-stretch
      @extend .da-flex-column
      align-items: stretch

      &-center
        @extend .da-flex-column-stretch
        justify-content: center

.da-block-icon
  margin: 0 0.5rem 0.5rem 0
  padding: 0.375rem 0.75rem

  & > .da-icon
    font-size: 16px

.da-tags
  margin: 1rem 0

  & > .da-tag
    padding: 0.25rem 1rem
    border-radius: 6.25rem
    margin: 0 1rem 0 0

.da-info-block
  background: $da-white
  padding: 1rem
  box-sizing: border-box

.da-thumbnail
  border-radius: 50%

  &-small
    @extend .da-thumbnail
    width: 80px
    height: 80px

  &-big
    @extend .da-thumbnail
    width: 180px
    height: 180px

.da-copyright
  font-size: 12px
  line-height: 16px
/*#endregion */

/*#region Colors*/
.da-copyright-color
  color: $da-black

.da-footer-link
  color: $da-black
  cursor: pointer
  @extend .da-text-14

  &:hover
    color: $da-grey

.da-grey
  color: $da-grey

.da-black
  color: $da-black

.da-green
  color: $da-green

.da-body-bg
  background-color: $da-bg

.da-block-bg
  background-color: $da-white

.da-primary-color
  color: $da-violet
  background: $da-white

.da-primary-color-invert
  background: $da-violet
  color: $da-white

.da-secondary-color
  background: $da-white
  color: $da-green

.da-secondary-color-invert
  background: $da-green
  color: $da-white

  &:hover
    background: $da-hover-green

  &:active
    background: $da-pressed-green
/*#endregion */
