@import '~@angular/material/theming';
@import "da-colors";

$default-palette: 500;
$da-app-primary: mat-palette(($default-palette: $da-green,
  contrast: ($default-palette: $da-white)), $default-palette);
$da-app-accent: mat-palette(($default-palette: $da-violet,
  contrast: ($default-palette: $da-white)), A200, A100, A400);
$da-app-warn: mat-palette($mat-red);

$da-app-typography: mat-typography-config(
  $font-family: 'Open Sans, sans-serif',
  $headline: mat-typography-level(40px, 52px, 700),
  $title: mat-typography-level(24px, 31px, 700),
  $subheading-2: mat-typography-level(18px, 25px, 700),
  $subheading-1: mat-typography-level(16px, 22px, 600),
  $body-1: mat-typography-level(16px, 22px, 400),
  $body-2: mat-typography-level(16px, 22px, 600),
);

$da-app-theme: mat-light-theme((
  color: (
    primary: $da-app-primary,
    accent: $da-app-accent,
    warn: $da-app-warn,
  )
));

// Override styles for each component used in app.
@include angular-material-theme($da-app-theme);
// Override the typography in the core CSS.
@include mat-core($da-app-typography);
