/* You can add global styles to this file, and also import other style files */

@import "da-colors"
@import "da-ui"

html, body
  height: 100%

body
  margin: 0

.mat-form-field-appearance-outline .mat-form-field-outline
  color: $da-grey-t

.mat-form-field-appearance-outline .mat-form-field-outline .mat-form-field-outline-start
  display: none

.mat-form-field-appearance-outline .mat-form-field-outline .mat-form-field-outline-end
  border-left-style: solid
  border-radius: 8px

.mat-stroked-button:not(.mat-button-disabled)
  border-color: inherit

div .mat-form-field-appearance-outline .mat-form-field-wrapper
  margin-top: 8px

.mat-form-field-appearance-outline .mat-form-field-prefix, .mat-form-field-appearance-outline .mat-form-field-suffix
  top: .35em !important

.mat-paginator
  background: transparent

mat-label
  @extend .da-h5

.mat-select, .mat-form-field-infix
  @extend .da-p3

.mat-select-panel
  @extend .da-border-lighter

.mat-option
  height: 32px
  font-size: 14px
  background-color: $da-white
  font-family: "Open Sans", sans-serif

.mat-option.mat-focus-indicator:hover
  background-color: $da-light-grey
