@import "src/da-colors"

.grid-container
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(200px, 306px))
  justify-content: center
  justify-items: stretch
  grid-gap: 1em
  margin: 0 auto
  max-width: 1444px
  padding-left: 6%
  padding-right: 6%

.grid-item
  background: $da-white
  display: flex
  flex-direction: column
  justify-content: space-between
  border-radius: 5px
  border: 1px solid $da-border-grey

  &:hover
    box-shadow: 0 4px 8px $da-border-grey

.link
  text-decoration: none

.thumbnail
  height: 171px
  width: 100%
  overflow: hidden
  position: relative

  & > img
    display: block
    margin: 0 auto
    height: 100%
    width: 100%
    object-fit: cover
    border-top-right-radius: 4px
    border-top-left-radius: 4px

.icon
  font-size: 16px

.type-badges
  display: flex
  gap: 8px
  padding: 8px
  position: absolute

.type-badge
  display: flex
  gap: 4px
  align-items: center
  border-radius: 11px
  box-sizing: border-box
  padding: 3px 8px
  border: 1px solid $da-border-grey
  background-color: $da-white
  line-height: 14px
  font-size: 10px
  font-weight: bold
  font-family: 'Open Sans', sans-serif
  font-style: normal

.state-icons
  display: flex
  gap: 8px
  padding: 8px
  position: absolute
  bottom: 0
  right: 0

.state-icon
  border-radius: 12px
  box-sizing: border-box
  color: $da-black
  background-color: $da-white
  line-height: 14px
  height: 24px
  width: 24px

.can-edit-icon
  padding: 4px 0

.content
  display: flex
  flex-direction: column
  height: 123px
  padding: 11px 16px 18px
  position: relative

.date
  display: flex
  align-items: center
  font-weight: 700
  text-transform: uppercase
  color: $da-grey

  mat-icon
    margin-right: 5px
    line-height: 140%
    height: 16px
    width: 16px

.title
  max-width: 300px
  margin: auto 0
  display: -webkit-box
  -webkit-line-clamp: 2
  -webkit-box-orient: vertical
  overflow: hidden
  text-overflow: ellipsis

  &:after
    content: ""
    position: absolute
    bottom: 47px
    display: block
    width: 272px
    height: 1px
    opacity: 0.1
    background-color: $da-black

.location
  margin-top: auto
  margin-right: -4px
  position: relative
  padding-top: 10px
  display: flex
  flex-direction: row-reverse
  font-weight: normal
  color: $da-black

  & mat-icon
    width: 12px
    height: 18px
    margin-right: 8px
    font-size: 20px
