<div class="grid-container">
  <div *ngIf="events.length > 0; then eventsBlock else emptyBlock"></div>
</div>
<ng-template #emptyBlock>
  <div>
    <h1>Oops</h1>
    <p>The events you are looking for are not here.</p>
  </div>
</ng-template>
<ng-template #eventsBlock>
  <a *ngFor="let event of events" class="link grid-item" routerLink="/event/{{event.id}}">
    <div class="thumbnail">
      <div class="type-badges">
        <div *ngIf="event.venueType != 1" class="type-badge da-secondary-color">
          <i class="material-icons icon">videocam</i><span>ONLINE</span>
        </div>
        <div *ngIf="event.venueType != 2" class="type-badge da-primary-color">
          <i class="material-icons icon">people_alt</i><span>OFFLINE</span>
        </div>
      </div>
      <div class="state-icons">
        <mat-icon *ngIf="event.isUserAttending" class="state-icon" svgIcon="is_attending" aria-hidden="false"></mat-icon>
        <mat-icon *ngIf="event.canEdit" class="state-icon can-edit-icon" svgIcon="can_edit" aria-hidden="false"></mat-icon>
      </div>
      <img appDefaultImage id="{{event.id}}" src="{{event.image}}" img_width="304" img_height="171">
    </div>
    <div class="content">
      <div class="date">
        <mat-icon class="icon" svgIcon="da_access_time" aria-hidden="false"></mat-icon>
        {{event.startDate | momentDate:'MMM D, y, h:mm A'}}
      </div>
      <div class="title da-h4">
        {{event.title}}
      </div>
      <div class="location">
        <div>{{event.location}}</div>
        <mat-icon class="material-icons" aria-hidden="false">location_on</mat-icon>
      </div>
    </div>
  </a>
</ng-template>
