<div class="da-flex-column-stretch-center">
  <mat-label>Location</mat-label>
  <mat-form-field class="da-location-dropdown-field" *ngIf="parentForm" [formGroup]="parentForm">
    <mat-icon matPrefix>location_on</mat-icon>
    <mat-select [(value)]="selected" (valueChange)="valueChange($event)" [formControlName]="'location'" placeholder="Select location">
      <mat-option value="none">None</mat-option>
      <mat-option *ngFor="let l of locations" value="{{l}}">{{l}}</mat-option>
    </mat-select>
    <mat-error *ngIf="requiredError">
      Location is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</div>
