﻿@import "src/da-colors"

.material-icons
  margin-right: 0.375rem

nav
  margin-bottom: 1.75rem

.title
  margin: 2rem 0 0.5rem 0

.main
  display: flex

  & > .content
    width: 872px
    padding-right: 3.9375rem

    & > .preview
      overflow: hidden
      height: 29rem

      & > img
        display: block
        margin: 0 auto
        height: 100%
        width: 100%
        object-fit: contain

    & > .mat-tab-group
      margin-top: 2.5rem

    markdown
      margin: 1.75rem

    & > .info
      margin-top: 4rem

      & > .title
        font-size: 32px

      & > .speaker-list
        align-items: flex-start
        justify-content: flex-start
        flex-wrap: wrap

        & > .speaker-card
          margin: 0 0.5rem 1rem 0

button
  width: 100%
  margin-top: 1rem

.mat-stroked-button
  border-radius: 8px
  border-width: 2px
  height: 40px

.sidebar
  width: 296px

  & > .main-info

    & > .state-icons
      display: flex
      font-weight: bold

    & > .link
      padding: 0 1rem
      margin-top: 1.75rem

      & > a
        text-decoration: none
        border-bottom: 1px dashed $da-grey
        width: 100%

    & > .main
      font-size: 18px
      margin: 0.75rem 0

  & > .contact
    margin-top: 7.3125rem

    & > div > img
      margin: 1rem 0 0.5rem 0
      object-fit: cover

.separator
  border-top: 1px solid $da-light-grey-t
  padding-top: 1.5rem

.attendance
  margin-top: 2rem
  text-align: center

  div:nth-child(1)
    margin: 0.5rem

.left-block
  width: 88px

.export-btn
  background: hsl(260, 23%, 95%)
  cursor: pointer
  margin: 0

  &:hover
    background: hsl(264, 14%, 93%)
