<div *ngIf="event" class="da-layout-wrapper">
  <div>
    <h1 class="title">{{event.title}}</h1>
    <div class="da-p">{{event.startDate | momentDate:'LL'}}</div>
  </div>
  <div class="main">
    <div class="content">
      <div class="da-tags da-flex-row-center">
        <div class="da-tag da-primary-color-invert">C#</div>
        <div class="da-tag da-primary-color-invert">Java</div>
        <div class="da-tag da-primary-color-invert">Net</div>
        <div class="da-tag da-primary-color-invert">C</div>
      </div>
      <div class="preview da-border-lighter">
        <img appDefaultImage id="{{eventId}}" src="{{event.image}}"/>
      </div>
      <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Description">
          <markdown>{{event.description}}</markdown>
        </mat-tab>
        <!--        <mat-tab label="Schedule"></mat-tab>-->
      </mat-tab-group>
      <div class="info" *ngIf="event.speakers != null && event.speakers.length > 0">
        <h1 class="title">
          Speakers
        </h1>
        <div class="speaker-list da-flex-row-center">
          <app-speaker (deleteSpeaker)="deleteSpeaker($event)" (editSpeaker)=editSpeaker($event)
                       *ngFor="let speaker of event.speakers;  let i = index;"
                       [isEditable]=false [speaker]=speaker class="speaker-card"></app-speaker>
        </div>
      </div>
    </div>
    <div class="sidebar">
      <div class="da-tags da-flex-row-end">
        <div (click)="export()" *ngIf="event.canEdit" export-ignore class="da-tag da-flex-row-center da-primary-color da-h6 export-btn">
          <mat-icon class="material-icons" svgIcon="share_event"></mat-icon>
          Export as HTML
        </div>
      </div>
      <div class="main-info da-info-block da-border-lighter">
        <div class="event-venue-type da-flex-column-center-center da-primary-color da-h6 da-uppercase">
          {{eventVenueTypeString}} Event
        </div>
        <div class="da-mt1 separator"></div>
        <div class="da-flex-column">
          <div class="da-flex-row-start">
            <div class="da-p4 left-block">Start</div>
            <div class="da-h5">
              <div class="da-flex-column-start">
                <div>{{event.startDate | momentDate:'MMMM D, y'}}</div>
                <div>at {{event.startDate | momentDate:'h:mm A'}}</div>
              </div>
            </div>
          </div>
          <div class="da-flex-row-start da-mt1">
            <div class="da-p4 left-block">Duration</div>
            <div class="da-h5">{{event.startDate | momentDate:'h:mm A'}}
              - {{calcEndDate()|momentDate:'h:mm A'}}</div>
          </div>
          <div class="da-flex-row-start da-mt1">
            <div class="da-p4 left-block">Location</div>
            <div class="da-h5">{{this.event.location}}</div>
          </div>
        </div>
        <div *ngIf="event.venueType != 1 && event.linkBroadcast" class="link da-grey da-flex-row-center">
          <i class="material-icons">link</i>
          <a class="da-h5-5 da-grey" href="{{event.linkBroadcast}}">Link to broadcast</a>
        </div>
      </div>
      <div *ngIf="this.event.canEdit">
        <button class="da-h5 da-grey" color="accent" export-ignore mat-stroked-button
                routerLink="/event/edit/{{eventId}}">
          Edit event
        </button>
      </div>
      <div *ngIf="!event.isUserAttending" export-ignore>
        <button (click)="attend()" color="primary" mat-raised-button>
          Join event
        </button>
        <div class="attendance">
          <div class="da-p5 da-grey">
            Outlook reminder will be downloaded!
          </div>
        </div>
      </div>
      <div *ngIf="event.isUserAttending" export-ignore>
        <button class="da-h5 da-border-green" color="primary" (click)="unAttend()" mat-stroked-button>
          Leave event
        </button>
        <div class="attendance">
          <div class="da-h5-5">You are already attending an event.</div>
          <div class="da-p5 da-grey">
            Don't forget to check this page closer to the event start date for broadcast details. Contact the event
            organizer if you have any questions.
          </div>
        </div>
      </div>
      <div class="contact da-info-block da-border-lighter">
        <div class="da-flex-column-center">
          <div class="da-h4">Contact person</div>
          <img appDefaultImage class="da-thumbnail-small" id="{{event.contactPerson?.id}}"/>
          <div class="da-h5">{{event.contactPerson?.firstName}} {{event.contactPerson?.lastName}}</div>
          <div class="da-p6 da-uppercase da-grey">{{event.contactPerson?.position}}</div>
        </div>
        <div class="da-mt1 separator"></div>
        <div class="da-p5 da-flex-row-column">
          <div class="da-flex-row-space-between">
            <div>Email</div>
            <div class="da-h6 da-secondary-color">{{event.contactPerson?.email}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
