<div class="da-flex-column-center-center">
  <img src="/assets/DataArt_Header.svg" alt="head-logo" class="head-logo">
  <div class="title">
    <img src="/assets/DataArt_Logo.png" alt="logo" class="logo">
    <div>
      <svg width="1" height="56" viewBox="0 0 1 56" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="0.5" y1="-2.18557e-08" x2="0.500002" y2="56" stroke="#858B8C" stroke-opacity="0.4"/>
        </svg>
    </div>
    <div class="title-text">
      EVENTS PORTAL
    </div>
  </div>
  <div class="subtitle-text">
    Log in with your organizational account
  </div>
  <form class="login-form" [formGroup]="loginForm">
    <div>
      <div class="da-h5">Username</div>
      <mat-form-field appearance="outline">
        <input (blur)="markFormGroupTouched(loginForm)" formControlName="username"  matInput name="username" placeholder="email@dataart.com">
      </mat-form-field>
    </div>
    <div>
      <div class="da-h5">Password</div>
      <mat-form-field appearance="outline">
        <input matInput class="login-input" name="password" formControlName="password" [type]="hide ? 'password' : 'text'"
          placeholder="Enter your Password">
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="(hasError('password', 'required') || hasError('username', 'required')) && !(hasError('username', 'minlength') || hasError('username', 'maxlength'))">
          Fields are required
        </mat-error>
        <mat-error *ngIf="(hasError('username', 'minlength') || hasError('username', 'maxlength')) && !(hasError('password', 'required') || hasError('username', 'required'))">
          Name must be from {{USERNAME_MIN_LENGTH}} to {{USERNAME_MAX_LENGTH}} characters long
        </mat-error>
        <mat-error *ngIf="(hasError('username', 'minlength') || hasError('username', 'maxlength')) && (hasError('password', 'required') || hasError('username', 'required'))">
          Fields are required. Name must be from {{USERNAME_MIN_LENGTH}} to {{USERNAME_MAX_LENGTH}} characters
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-buttons">
      <button *ngIf="!awaitingLogin" color="primary" mat-raised-button type="submit" [disabled]="awaitingLogin" (click)="login()">Log in</button>
      <mat-spinner *ngIf="awaitingLogin" class="login-spinner" [diameter]="30" mode="indeterminate"></mat-spinner>
      <div class="mat-error" *ngIf="status === 404">User not found</div>
    </div>
  </form>
</div>
