@import "src/da-ui"

.title
  display: flex
  justify-content: center
  margin-top: 270px
  margin-bottom: 15px
  align-items: center
  gap: 20px

.title-text
  @extend .da
  font-weight: normal
  font-size: 20px
  line-height: 27px
  text-transform: uppercase

.subtitle-text
  @extend .da
  font-weight: normal
  font-size: 14px
  line-height: 19px
  text-align: center

.logo
  width: 149px
  height: 24px

.head-logo
  height: 88px
  margin: 0 auto
  width: 100%
  object-fit: cover

.login-form
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  margin-top: 16px

.mat-form-field
  width: 352px
  height: 65px
  margin-top: 8px

.form-buttons
  display: flex
  flex-direction: column
  align-items: center
  margin-top: 16px
  gap: 10px

// do not set color
// we will change it using the material theme
.form-buttons button
  border-radius: 8px
  width: 79px
  height: 40px

.login-spinner
  margin-top: 10px
