{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Edit {{ skill.name }} skill{% endblock %}

{% block content %}
  <div class="container">
    <h1>Edit skill</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb" style="background-color: unset">
        <li class="breadcrumb-item"><a href='{% url 'home' %}'>Home</a></li>
        <li class="breadcrumb-item"><a href='{% url 'form_skills:list' %}'>Skills</a></li>
        {% for item in branch %}
          <li class="breadcrumb-item"><a href='{% url 'form_skills:detail' item.id %}'>{{ item.name }}</a></li>
        {% endfor %}
        <li class="breadcrumb-item"><a href='{% url 'form_skills:detail' skill.id %}'>{{ skill.name }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit</li>
      </ol>
    </nav>
    <hr/>
    {% include "form.html" with form=form button_name="Save" %}
  </div>
{% endblock %}
