{% extends 'base.html' %}

{% block title %}{{ skill.name }} skill{% endblock %}

{% block content %}
  <div class="container">

    <div class="row justify-content-between  align-items-center">
      <h1 class="col-2">Skill</h1>
      <ul class="nav">
        <li class="nav-item active">
          <a class="btn btn-outline-secondary" href='{% url 'form_skills:edit' skill.id %}'>Edit</a>
          <a class="btn btn-outline-secondary" href='{% url 'form_skills:create' skill.id %}'>Add subskill</a>
          <a class="btn btn-outline-danger" href='{% url 'form_skills:delete' skill.id %}'>Delete</a>
        </li>
      </ul>
    </div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb" style="background-color: unset">
        <li class="breadcrumb-item"><a href='{% url 'home' %}'>Home</a></li>
        <li class="breadcrumb-item"><a href='{% url 'form_skills:list' %}'>Skills</a></li>
        {% for item in branch %}
          <li class="breadcrumb-item"><a href='{% url 'form_skills:detail' item.id %}'>{{ item.name }}</a></li>
        {% endfor %}
        <li class="breadcrumb-item active" aria-current="page">{{ skill.name }}</li>
      </ol>
    </nav>
    <hr/>

    <div class='skill-entry'>
      {% include "detail_field.html" with label="Name" content=skill.name %}
      {% include "detail_field.html" with label="Description" content=skill.description %}
      <div class="row">
        <h5 class="col-2 text-truncate">Subskills</h5>
        <ul class="list-inline col-10">
        {% for child in children %}
          <li class="list-inline-item lead"><a href="{% url 'form_skills:detail' child.id %}" class="badge badge-info">{{ child.name }}</a></li>
        {% endfor %}
      </ul>
      </div>
    </div>

  </div>
{% endblock %}
