{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Skills{% endblock %}

{% block content %}
  <div class="container">
    <div class="row justify-content-between  align-items-center">
      <h1 class="col-2">Skills</h1>
      <ul class="nav">
        <li class="nav-item active">
          <a class="btn btn-outline-success" href='{% url 'form_skills:create' %}'>Create skill</a>
        </li>
      </ul>
    </div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb" style="background-color: unset">
        <li class="breadcrumb-item"><a href='{% url 'home' %}'>Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Skills</li>
      </ol>
    </nav>

    <div class="card">
      {% for indent, skill in skills %}
        <div class="row no-gutters">
          <div class="col-10">
            <a href="{% url 'form_skills:detail' skill.id %}" class="list-group-item list-group-item-action text-truncate" style="text-indent: {{ indent }}em">{{ skill.name }}</a>
          </div>
          <div class="col-2">
            <a href="{% url 'form_skills:create' skill.id %}" class="list-group-item list-group-item-action border-left-0 text-truncate text-center">add subskill</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
