{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Delete {{ skill.name }} skill{% endblock %}

{% block content %}
  <div class="container">
    <h1>Delete skill</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb" style="background-color: unset">
        <li class="breadcrumb-item"><a href='{% url 'home' %}'>Home</a></li>
        <li class="breadcrumb-item"><a href='{% url 'form_skills:list' %}'>Skills</a></li>
        <li class="breadcrumb-item"><a href='{% url 'form_skills:detail' skill.id %}'>{{ skill.name }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Delete</li>
      </ol>
    </nav>
    <hr/>
    {% include "deletion_form.html" with object_name=skill.name %}
  </div>
{% endblock %}
