<div class="carousel">
  <carousel [loop]="true" [arrows]="false" [borderRadius]="8" [autoplayInterval]="5000" [autoplay]="true"
    [dots]="true" [images]="images" [margin]="16" [height]="296" [width]="1270" [cellWidth]="608" [cellsToShow]="2">
  </carousel>
</div>
<div class="line">
</div>
<div id="title">
  <div class="da-h1 da-layout-wrapper-header">
    Search events
  </div>
</div>
<form class="" (keydown.enter)="search()">
  <div class="da-flex-column-stretch-center">
    <mat-label>Event title</mat-label>
    <mat-form-field appearance="outline">
      <input [(ngModel)]="eventFilter.title" matInput name="title" placeholder="Event title">
      <button (click)="eventFilter.title=''" *ngIf="eventFilter.title" aria-label="Clear" mat-button mat-icon-button
              matSuffix>
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <app-locations (selectedEvent)="selectLocation($event)"></app-locations>

  <div class="da-flex-column-stretch-center">
    <mat-label>Venue type</mat-label>
    <mat-form-field appearance="outline">
      <mat-select [(value)]="eventFilter.venueType" name="venueType">
        <mat-select-trigger>
          <mat-icon>{{eventFilter.venueType == 'online' ? 'videocam' : 'group'}}</mat-icon><span>{{eventVenueTypeString}}</span>
        </mat-select-trigger>
        <mat-option value="onlineAndOffline"><mat-icon matPrefix>group</mat-icon>Online And Offline</mat-option>
        <mat-option value="offline"><mat-icon matPrefix>group</mat-icon>Offline</mat-option>
        <mat-option value="online"><mat-icon matPrefix>videocam</mat-icon>Online</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="da-flex-column-stretch-center">
    <mat-label>Date range</mat-label>
    <mat-form-field appearance="outline">
      <mat-date-range-input [rangePicker]="picker">
        <input [(ngModel)]="eventFilter.minDate" matStartDate name="minDate" placeholder="Start date">
        <input [(ngModel)]="eventFilter.maxDate" matEndDate name="maxDate" placeholder="End date">
      </mat-date-range-input>
      <button (click)="resetDate()" *ngIf="eventFilter.minDate != null || eventFilter.maxDate != null"
              aria-label="Clear" mat-button mat-icon-button matSuffix>
        <mat-icon>close</mat-icon>
      </button>
      <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </div>
  <button (click)="reset()" class="da-icon-btn" type="button"><mat-icon>close</mat-icon></button>
  <button (click)="search()" class="search-btn da-secondary-color-invert" color="primary" mat-flat-button [disableRipple]="true">Search</button>
</form>
<div *ngIf="!loaded" class="da-flex-row-center-center">
  <mat-spinner></mat-spinner>
</div>
<events-list *ngIf="loaded" [events]="events"></events-list>

<mat-paginator appPagination [length]="count" [pageSize]="eventFilter.pageSize"
               [pageIndex]='eventFilter.pageIndex' [hidePageSize]='true' (page)="handlePage($event)"
                class="da-paginator">
</mat-paginator>
