@import "src/da-ui"

.search-btn
  width: 85px
  height: 48px

.da-icon-btn
  display: flex
  align-items: center
  justify-content: center
  background-color: $da-white
  width: 48px
  height: 48px
  padding: 0
  border: 2px solid $da-green
  border-radius: 8px
  color: $da-green
  box-sizing: border-box

  &:hover
    background-color: rgba(77, 171, 137, 0.1)

  &:active
    color: $da-white
    background-color: $da-green

  &:focus
    outline: unset

  & > mat-icon
    width: 32px
    height: 32px
    font-size: 32px

::ng-deep .mat-select-value
  display: flex
  flex-direction: row
  align-items: flex-end
  align-content: center

  & mat-icon
    vertical-align: middle
    padding-right: 5px

  & span
    align-self: end
    justify-self: center
    vertical-align: middle


form
  display: grid
  grid-template-columns: 1fr 1fr 1fr 1fr auto auto
  max-width: 1270px
  justify-content: stretch
  justify-items: stretch
  align-items: center
  gap: 1rem
  margin: 1rem auto
  padding-left: 0
  padding-right: 0

::ng-deep .mat-form-field-suffix
  display: flex

::ng-deep .mat-paginator
  .mat-paginator-container
    justify-content: center

  .mat-paginator-range-label
    display: none

  .custom-paginator-page
    @extend .da-paginator
    border-radius: 8px
    outline: none
    border: none
    min-width: 40px
    width: auto
    min-height: 40px
    max-height: 40px
    padding: 1px 6px
    box-sizing: border-box


  .custom-paginator-page-enabled
    background: transparent
    cursor: pointer

    &:hover
      color: $da-grey-t


  .custom-paginator-page-disabled
    background-color: rgba(231, 235, 236, 0.4)  //$da-light-grey
    border: 1px solid rgba(133, 139, 140, 0.4)

  .custom-paginator-arrow-disabled
    color: $da-light-grey


  .custom-paginator-arrow-enabled
    color: $da-black

    &:hover
      color: $da-grey-t

.carousel
  margin-top: 20px
  margin-bottom: 36px
  display: flex
  justify-content: center
  z-index: 1

.line
  border: 1px solid $da-light-grey
  width: 1270px
  height: 0px
  margin-left: auto
  margin-right: auto
  margin-bottom: 32px

::ng-deep .carousel-dots
  bottom: auto !important
  margin-top: 26px !important

::ng-deep .carousel-dot
  border-color: $da-violet !important

::ng-deep .carousel-dot-active
  background-color: $da-violet !important

.da-layout-wrapper
  max-width: 1270px
  padding-top: 0
  padding-bottom: 8px
