{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}User creaded{% endblock %}

{% block content %}
  <div class="container">
    <br/>
    <h1>User <strong>{{ user.username }}</strong> creaded successfully</h1>
    <img src="https://img.icons8.com/clouds/500/000000/checkmark.png"
         alt="success"/>
    <nav class="nav nav-pills">
      <a class="nav-link active"
         href="{% url 'form_users:create' %}">Create one more user</a>
    </nav>
    <nav class="nav nav-pills">
      <a class="nav-link active"
         href="{% url 'home' %}">Home</a>
    </nav>
  </div>
{% endblock %}
