{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Creating new user{% endblock %}

{% block content %}
  <div class="container">
    <h1>Create new user</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb" style="background-color: unset">
        <li class="breadcrumb-item"><a href='{% url 'home' %}'>Home</a></li>
        <li class="breadcrumb-item"><a href='{% url 'form_users:list' %}'>Users</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ user.username }}</li>
      </ol>
    </nav>
    <hr/>
    <form role="form" method="post">
      {% csrf_token %}

      {{ form.non_field_errors }}
      {% for field in form %}
        <div class="form-group">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field|add_class:"form-control"|attr:"required"|add_error_class:"is-invalid" }}
          {% if field.errors %}
            {% for error in field.errors %}
              <div id="{{ field.name }}InvalidFeedback"
                   class="invalid-feedback">
                {{ error }}
              </div>
            {% endfor %}
          {% endif %}
        </div>
      {% endfor %}

      <button type="submit" class="btn btn-primary">Create</button>

    </form>
  </div>
{% endblock %}
