{% extends 'base.html' %}

{% block title %}{{ user.username }} user{% endblock %}

{% block content %}
  <div class="container">

    <div class="row justify-content-between  align-items-center">
      <h1 class="col-2">User</h1>
      <ul class="nav">
        <li class="nav-item active">
          <a class="btn btn-outline-secondary" href='{% url 'form_users:edit' user.id %}'>Edit</a>
          <a class="btn btn-outline-danger" href='{% url 'form_users:delete' user.id %}'>Delete</a>
        </li>
      </ul>
    </div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb" style="background-color: unset">
        <li class="breadcrumb-item"><a href='{% url 'home' %}'>Home</a></li>
        <li class="breadcrumb-item"><a href='{% url 'form_users:list' %}'>Users</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ user.username }}</li>
      </ol>
    </nav>
    <hr/>

    <div class='user-entry'>
      {% include "detail_field.html" with label="Username" content=user.username %}
      {% include "detail_field.html" with label="First name" content=user.first_name %}
      {% include "detail_field.html" with label="Last name" content=user.last_name %}
      {% include "detail_field.html" with label="Email" content=user.email %}
      {% include "detail_field.html" with label="Location" content=user.location %}
      {% include "detail_field.html" with label="Position" content=user.position %}
      <div class="row">
        <h5 class="col-2 text-truncate">Skills</h5>
        <ul class="list-inline col-10">
        {% for skill in user.skills.all %}
          <li class="list-inline-item lead"><a href="{% url 'form_skills:detail' skill.id %}" class="badge badge-info">{{ skill.name }}</a></li>
        {% endfor %}
      </ul>
      </div>

      {% include "detail_field.html" with label="Date joined" content=user.date_joined %}
    </div>

  </div>
{% endblock %}
