{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Edit {{ user.username }} user{% endblock %}

{% block content %}
  <div class="container">
    <h1>Edit user</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb" style="background-color: unset">
        <li class="breadcrumb-item"><a href='{% url 'home' %}'>Home</a></li>
        <li class="breadcrumb-item"><a href='{% url 'form_users:list' %}'>Users</a></li>
        <li class="breadcrumb-item"><a href='{% url 'form_users:detail' user.id %}'>{{ user.username }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit</li>
      </ol>
    </nav>
    <hr/>
    {% include "form.html" with form=form button_name="Save" %}
  </div>
{% endblock %}
