{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Users{% endblock %}

{% block content %}
  <div class="container">
    <div class="row justify-content-between  align-items-center">
      <h1 class="col-2">Users</h1>
      <ul class="nav">
        <li class="nav-item active">
          <a class="btn btn-outline-success" href='{% url 'form_users:create' %}'>Create user</a>
        </li>
      </ul>
    </div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb" style="background-color: unset">
        <li class="breadcrumb-item"><a href='{% url 'home' %}'>Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Users</li>
      </ol>
    </nav>
    <div class="list-group">
      <div class="list-group-item" style="background-color: #F4F6F6">
        <div class="row no-gutters">
          <div class="col-1"><strong>id</strong></div>
          <div class="col-3"><strong>Username</strong></div>
          <div class="col-2"><strong>First name</strong></div>
          <div class="col-2"><strong>Last name</strong></div>
          <div class="col-2"><strong>Location</strong></div>
          <div class="col-2"><strong>Position</strong></div>
        </div>
      </div>
      {% for user in user_list %}
        <a href="{% url 'form_users:detail' user.id %}" class="list-group-item list-group-item-action ">
          <div class="row no-gutters">
            <div class="col-1">{{ user.id }}</div>
            <div class="col-3">{{ user.username }}</div>
            <div class="col-2">{{ user.first_name }}</div>
            <div class="col-2">{{ user.last_name }}</div>
            <div class="col-2">{{ user.location }}</div>
            <div class="col-2">{{ user.position }}</div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock %}
