{% load widget_tweaks %}

    <form role="form" method="post">
      {% csrf_token %}

      {{ form.non_field_errors }}
      {% for field in form %}
        <div class="form-group">
          {% if not field.is_hidden %}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {% endif %}
          {{ field|add_class:"form-control"|add_error_class:"is-invalid" }}
          {% if field.errors %}
            {% for error in field.errors %}
              <div id="{{ field.name }}InvalidFeedback"
                   class="invalid-feedback">
                {{ error }}
              </div>
            {% endfor %}
          {% endif %}
        </div>
      {% endfor %}

      <button type="submit" class="btn btn-primary">{{ button_name }}</button>

    </form>
