{% extends 'base.html' %}


{% block title %}Integation service{% endblock %}

{% block content %}
  <div class="container">
    <br/>
    <h1>Welcome to <strong>integration portal</strong>🎉🎊🧩</h1>
    <br/>
    <h3>
      <a class="nav-link active" href='{% url 'form_users:list' %}'>Users</a>
    </h3>
    <h3>
      <a class="nav-link active"
         href='{% url 'form_skills:list' %}'>Skills</a>
    </h3>

  </div>
{% endblock %}
