@import "src/da-colors"
@import "src/da-ui"

$page-border: 1px solid $da-light-grey

::ng-deep .mat-select-arrow-wrapper
  display: inherit !important

::ng-deep .mat-datepicker-content .mat-form-field
  max-width: 52px !important
  width: 52px !important

::ng-deep .mat-form-field-flex > .mat-form-field-infix
  border-top: 0.2em solid transparent
  margin: 5px
  padding: 0.5rem 0

::ng-deep .mat-form-field-flex
  background: $da-white

#app-body
  min-height: 100%
  display: grid
  grid-template-rows: 1fr auto

header
  background: $da-white
  border-bottom: $page-border
  padding-left: 1%
  padding-right: 1%
  display: grid
  grid-template-columns: auto minmax(auto, 227px) 1fr minmax(auto, 108px) auto
  grid-template-rows: 63px
  justify-content: stretch
  justify-items: center
  align-items: center

.tabs-bar
  padding-left: 8%
  padding-right: 8%
  width: 140px
  display: flex
  flex-wrap: nowrap
  justify-content: space-between
  align-self: stretch

.header-link-tab
  color: $da-black
  text-decoration: unset
  display: flex
  justify-content: center
  align-items: center

.active-tab
  border-bottom: 2px solid $da-black

.search-field
  align-self: stretch
  justify-self: stretch
  display: flex
  position: relative

#search-icon
  position: absolute
  top: 20px
  left: 5%
  padding-left: 8px
  color: $da-grey
  user-select: none

.search-input
  width: 100%
  padding: 8px 20px 8px 40px
  margin: 12px 5%
  display: inline-block
  border: 1px solid rgba(133, 139, 140, 0.4)
  border-radius: 20px
  box-sizing: border-box
  outline: none
  @extend .da-p3

.header-profile
  width: 50px
  margin-left: 8%
  margin-right: 8%
  padding-bottom: 12px
  padding-top: 12px
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
  user-select: none

  & mat-icon
    height: 40px
    width: 40px
    font-size: 40px

  & .arrow-icon
    width: 10px
    height: 21px
    font-size: 20px

  &:hover
    opacity: 0.6

.header-button
  display: flex
  text-align: center
  align-items: center
  justify-items: center
  justify-content: center
  width: 155px
  height: 40px
  border-radius: 8px

.circle
  position: absolute
  right: -3.0%
  top: -14.0%

.create
  background: $da-green
  &:hover
    background: $da-hover-green

.in-progress
  background: $da-violet
  &:hover
    background: $da-hover-violet

footer
  border-top: $page-border

.footer-info
  background-color: white
  height: 118px
  display: flex
  flex-direction: column
  padding-top: 29px
  padding-left: 5%
  padding-bottom: 45px
  flex-grow: 0
  justify-content: space-between

  & .logo
    padding-bottom: 13px

.logo
  width: 149px
  height: 24px

.time-zones
  margin-right: 12%
  margin-top: 2.5%

.time-zones-label
  margin-bottom: 1.6%

.time-zone-dropdown
  width: 150%
