<div id="app-body">
  <div id="app-content" class="da-body-bg">
    <header *ngIf="authService.isLoggedInState">
      <a routerLink="/events"><img src="/assets/DataArt_Logo.png" alt="logo" class="logo"></a>
      <div class="tabs-bar">
        <a class="header-link-tab da-p3 active-tab" routerLink="/events">
          <div>Home</div>
        </a>
        <a class="header-link-tab da-p3" routerLink="/events">
          <div>My events</div>
        </a>
      </div>
      <div class="search-field">
        <mat-icon matPrefix id="search-icon">search</mat-icon>
        <input type="text" class="search-input" name="search" placeholder="Search by title, tag or location">
      </div>
      <div class="header-profile" [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
        <mat-icon class="arrow-icon">keyboard_arrow_down</mat-icon>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
      </div>
      <a *ngIf="eventsService.createState == 0" class="da-h5 header-button da-secondary-color-invert create" mat-button
         routerLink="/event/create">Create an event</a>
      <a *ngIf="eventsService.createState == 1 || eventsService.createState == 2"
         class="da-h5 header-button da-secondary-color-invert in-progress" mat-button routerLink="/event/create">In
        progress
        <svg *ngIf="eventsService.createState == 2" class="circle" width="14" height="14" viewBox="0 0 14 14"
             fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="7" cy="7" r="6" fill="#CC5842" stroke="white" stroke-width="2"/>
        </svg>
      </a>
    </header>
    <router-outlet></router-outlet>
  </div>
  <footer *ngIf="authService.isLoggedInState" class="da-flex-row-space-between">
    <div class="footer-info">
      <img src="/assets/DataArt_Logo.png" alt="logo" class="logo">
      <a class="da-footer-link" (click)="logout()" target="_self">Log out</a>
      <a class="da-footer-link" target="_self">Feedback</a>
      <div class="da-copyright da-copyright-color">© DataArt Solutions. All rights reserved.</div>
    </div>
    <div class="time-zones">
      <p class="da-text-14 time-zones-label">Your current time zone</p>
      <mat-form-field class="time-zone-dropdown">
        <mat-icon matPrefix>public</mat-icon>
        <mat-select (valueChange)="valueChange($event)" [value]="selectedTimeZone">
          <mat-option *ngFor="let zone of timeZones" value="{{zone}}" >{{formatTimeZone(zone)}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </footer>
</div>
