<div class="da-border-lighter speaker-card">
  <i (click)="delete()" *ngIf="isEditable" class="material-icons da-grey icon delete-icon">delete</i>
  <i (click)="edit()" *ngIf="isEditable" class="material-icons da-grey icon edit-icon">edit</i>
  <div class="center">
    <img appDefaultImage id="{{speaker.id}}" class="da-thumbnail-big avatar" src="{{speaker.image}}" img_width="180"
         img_height="180">
  </div>
  <div class="da-h4 da-black name">{{speaker.name}}</div>
  <div class="da-p5 da-uppercase da-grey position">{{speaker.position}}</div>
  <div class="da-p3 description">{{speaker.description}}</div>
</div>
