@import "src/da-colors"

.avatar
  flex-shrink: 0
  margin-top: 6%
  object-fit: cover

.speaker-card
  background: $da-white
  position: relative
  margin: 0
  height: 400px
  width: 280px

  &:hover
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2)

.center
  display: flex
  justify-content: center

.name
  margin-top: 4%
  text-align: center

.position
  margin-top: 2%
  text-align: center

.description
  margin-top: 6%
  padding: 0 20px 0
  text-align: center
  color: rgba(18, 18, 18, 0.8)
  overflow-wrap: break-word

.icon
  font-size: 17px
  margin-top: 5%

  &:hover
    color: red
    cursor: pointer

.delete-icon
  position: absolute
  right: 5%

.edit-icon
  position: absolute
  right: 14%
