<div class="grid-container">
  <div class="upload-speaker-photo">
    <div class="img-container" (click)="speakerImageInput.click()" dragDrop (onFileDropped)="uploadImage($event)">
      <div *ngIf="data?.image != null" class="da-flex-column-center-center">
        <img appDefaultImage class="avatar-custom" src="{{data.image}}">
      </div>
      <div *ngIf="!data?.image" class="da-flex-column-center-center avatar">
        <div>
          <img class="avatar-default-image" src="/assets/cloud_min.svg">
          <div class="da-h5-5 da-grey avatar-text-block">
            Speaker’s avatar
          </div>
        </div>
      </div>
      <input #speakerImageInput (change)="onImgChanged($event)" type="file" type="file">
    </div>
    <div class="upload-img-btn">
      <button mat-raised-button (click)="speakerImageInput.click()" color="primary">Upload</button>
    </div>
  </div>
  <div class="speaker-form">
    <form [formGroup]="speakerForm" class="form-flex">
      <mat-label>Name</mat-label>
      <mat-form-field appearance="outline">
        <input placeholder="name" [(ngModel)]="data.name" maxlength="29" formControlName="name" matInput />
      </mat-form-field>
      <mat-label>Job (role), Location</mat-label>
      <mat-form-field appearance="outline">
        <input placeholder="job, location" [(ngModel)]="data.position" maxlength="45" formControlName="position" matInput />
      </mat-form-field>
      <mat-label>Description</mat-label>
      <mat-form-field appearance="outline">
        <textarea rows="8" formControlName="description" [(ngModel)]="data.description" maxlength="140" minlength="0" matInput></textarea>
        <mat-hint align="end">{{speakerForm.controls.description.value?.length || 0}} / 140</mat-hint>
      </mat-form-field>
    </form>
  </div>
  <div class="grid-item buttons">
    <button mat-raised-button (click)="save()" color="primary">Save</button>
    <button mat-raised-button color="accent" class="cancel-button" (click)="cancel()">Cancel</button>
  </div>
</div>
