@import "src/da-colors"

.grid-container
  display: grid
  padding: 10px
  grid-template-areas: "upload-img form buttons"
  grid-template-columns: 27% 1fr

.upload-speaker-photo
  grid-area: upload-img
  display: block
  align-items: center
  margin-left: auto
  margin-right: auto

  input
    display: none

.speaker-avatar
  border-radius: 50%

.speaker-form
  grid-area: form

.form-flex
  display: flex
  flex-direction: column

.buttons
  grid-area: buttons
  grid-column: 1 / span 2
  grid-row: 2
  display: flex
  align-items: baseline
  justify-content: flex-end

.upload-img-btn
  margin-top: 10px
  display: flex
  justify-content: center

.avatar
  width: 160px
  height: 160px
  background: $da-bg
  border: 1px dashed rgba(133, 139, 140, 0.4)
  box-sizing: border-box
  border-radius: 50%
  flex-shrink: 0

.avatar-default-image
  width: 90px
  height: 60px

.avatar-text-block
  margin-top: 6px
  padding: 6px 0
  text-align: center
  width: 90px
  background: $da-white
  border: 1px solid $da-border-grey
  border-radius: 8px

.avatar-custom
  @extend .avatar
  object-fit: cover

.cancel-button
  margin-left: 10px
